node_modules/
*.log
*.tgz

.vscode/
dist/src/
dist/coverage/
dist/html-report/
src/
test/
.gitignore
.istanbul.yml
.travis.yml
appveyor.yml
tsconfig.json
tsconfig.origin.json
tsconfig.prod.json
tslint.json
tslint.origin.json
